.AI-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("/images/Ai-tool-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

.AI-content h2,
.AI-content h3 {
  margin: 0;
}

.AI-content {
  color: black;
}

.AI-content h2 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.AI-content h3 {
  font-size: 38px;
  margin-top: 0.2rem;
  margin-bottom: 2rem;
}

.AI-content button {
  display: inline-block;
  background: #e6e6e6;
  color: black;
  padding: 14px 32px;
  border-radius: 30px;
  font-size: 1.1rem;
  border: none;
}

@media (max-width: 768px) {
  .AI-container {
    height: 90vh;
    padding: 0 20px;
    background-position: 60% center;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .AI-content {
    max-width: 100%;
  }

  .AI-content h2 {
    font-size: 2rem;
  }

  .AI-content h3 {
    font-size: 1.1rem;
  }

  .AI-content button {
    margin-top: 25px;
    display: inline-block;
    font-size: 1rem;
    padding: 12px 28px;
  }
}
