.collection-hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--collection-background);
  width: 100vw;
  padding: 7.5rem 1rem;
  align-self: stretch;
  margin-bottom: 4rem;
}

.product-img {
  width: 11rem;
  height: 11rem;
  background-color: var(--img-box);
}
