.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--collection-background);
  width: 100vw;
  padding: 7.5rem 1rem;
  align-self: stretch;
  margin-bottom: 4rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.product {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
