.collection {
  display: flex;
  flex-direction: column;
}

.collection-title {
  padding-left: 2rem;
  font-size: 32px;
}
.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
  padding: 0 1rem;
}


.product {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.4s ease;
}

.product h3 {
  margin: 0 0 2rem ;
}
/* ---hover--- */

.product-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-img .img-default {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}


.product-img .img-hover {
  position: absolute;
  object-position: center top; /* för att få bruna jackan croppad i botten */
  top: 0;
  left: 0;
  opacity: 0;
  
}


.product:hover .img-default {
  opacity: 0;
}

.product:hover .img-hover {
  opacity: 1;
  
}


@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 2rem;
  }
  .product h3 {
  margin: 0 0 3rem ;
  font-size: 24px;
}

.collection-title {
  font-size: 48px;
}
}