.collection {
  display: flex;
  flex-direction: column;
}

.collection-title {
  padding-left: 1rem;
  margin: 0 0 1rem 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  max-width: 1440p;
}


.product {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.4s ease;
}

.product h5 {
  margin: 0 0 2rem ;
}
/* ---hover--- */

.product-img {
  position: relative;
  width: 100%;

  overflow: hidden;
   aspect-ratio: 1 / 1.35;
}

.product-img .img-default {

  opacity: 1;
}


.product-img .img-hover {
  position: absolute;
  object-position: center top;
  top: 0;
  left: 0;
  opacity: 0;
  
}


.product:hover .img-default {
  opacity: 0;
}

.product:hover .img-hover {
  opacity: 1;
  
}

.left-position {
  object-position: 0% center;
  transform: scale(1);
  transform-origin: left center;  
}

 .zoom-clothes {
   object-position: center 30%;
}

.product-img .lefttilt {
    object-position: 60%;
}


@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 2rem;
  }
  .product h5 {
  margin: 0 0 3rem ;

}

.collection-title {
  margin: 0 0 2rem ;
  padding-left: 2rem;
}
}