/* Epost */
.epost {
    background-color: #fafafa;
    text-align: center;
    padding: 3rem 1rem;
    margin: 0;
}
.epost-container {
    background-color: #d9d9d9;
}

.epost h2 {
    font-size: 2rem;
    padding: 2rem;
}

.epost h3 {
    font-weight: 400;
    color: #555;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.epost-input {
    margin-top: 1.5rem;
    padding-bottom: 1rem;
}

.epost input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    margin-bottom: 0.8rem;
}
ul{
    padding: 0 5rem;
}

.epost button {
    display: block;
    margin: 0 auto;
    background: black;
    color: white;
    border: none;
    padding: 0.8rem 1.4rem;
    border-radius: 4px;
}
