/* Epost */
.epost {
    background-image: url("../images/hands.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
    padding: 1rem;
    margin: 0;
    color: rgb(0, 0, 0);

}

.epost-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.epost-input {
    margin: 0 1rem;
    width: 100%;


}

.form {
    padding: 1rem 1rem 0;
    margin: 0 1rem;
    background: rgba(255, 255, 255, 0.117);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.377);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 60px 30px rgba(255, 255, 255, 3);
}

.epost input {
    padding: 0.8rem;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    border: 0.5px solid black ;
    color: black;
    text-align: center;
}

.epost-ul {
    margin-bottom: 4rem;
    
}
.epost ul{
    margin: 0rem 2rem;
    text-align: start;

    padding: 1rem 0 0 2rem;
    position: relative;
    overflow: hidden;
}

.epost li {

    font-size: var(--p-size);
}

.epost button {
    margin: 1rem 0 3rem 0;
    border: none;
    padding: 0.5rem 1rem 0.5rem 2rem;
    gap: 0.625rem;
    font-size: 18px;
}

.epost h2 {
    margin: 3rem 0 1rem;
}
.epost h5 {
    margin: 0 0 1rem ;
}
.epost p {
    margin: 0 1rem;
    padding: 1rem;
}

.epost a {
    font-size: 13px;
}
.exclusive {
    display: flex;
    justify-content: right;
    width: 100%;

}

.exclusive span {
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 20px;
}

@media (min-width: 768px) {

    .epost {
        padding: 4.688rem 6.563rem;
        background-position: left 60%;
        background-size: 150%;

    }

    .epost h2 {
        margin-bottom: 4rem;
    }

    .epost p {
        width: 52vw;
        text-align: left;
    }
    .epost li {
        font-size: var(--p-desktop);
    }

    .epost-ul {
        width: 60vw;
        display: flex;
        justify-content: center;
    }

    .form {
        background-color: transparent;
        box-shadow: none;
        border: none;
        backdrop-filter: none;
    -webkit-backdrop-filter: none;
    }
    .epost button {
        border: 1px solid var(--pine);
    }
}