/* Epost */
.epost {
    background-image: url("../images/hands.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
    padding: 1rem;
    margin: 0;
    color: white;

}

.epost-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.epost h2 {

    padding: 1rem;
}


.epost-input {
    margin-top: 1.5rem;
    padding: 1rem;
    width: 100%;
}

.epost input {
    padding: 0.8rem;
    width: 80%;
    max-width: 300px;
    margin-bottom: 0.8rem;
    border-radius: 20px;
    border: none;
    color: black;
}


.epost ul{
  
    
    margin: 0 3rem;
    text-align: start;
    max-width: 400px;

}

.epost li {
    margin-bottom: 1rem;
}

.epost button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 0.8rem 1.4rem;
    border-radius: 20px;
}


.epost h3 {
    margin: 2.5rem;
}

.exclusive {
    display: flex;
    justify-content: right;
    width: 100%;

}

.exclusive span {
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 20px;
}