/* Epost */
.epost {
    background-color: #fafafa;
    text-align: center;
    padding: 1rem;
    margin: 0;
}
.epost-container {
    background-color: #d9d9d9;

}
.epost h2 {

    padding: 1rem;
}


.epost-input {
    margin-top: 1.5rem;
    padding: 1rem;
}

.epost input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    margin-bottom: 0.8rem;
}
ul{
    padding: 0 2.5rem;
    margin: 0 3rem;
    text-align: start;  

    
}

.epost button {
    display: block;
    margin: 0 auto;
    background: black;
    color: white;
    border: none;
    padding: 0.8rem 1.4rem;
    border-radius: 4px;
}

.epost input {
    border: 1px solid #000;
}

.epost h3 {
    margin: 2.5rem;
}