.footer-links {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    border-bottom: 1px solid black;
    justify-content: center;
}

.footer-links a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 100;
    display: block;
    margin-top: 1rem;
    
}

.copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}

.shop, .company, .support {
    max-width: 9rem;

}