footer {
    background-color: #D8E7F0;
    padding: 2rem 1rem;
}

.upper-foot, .lower-foot, .links {
    display: flex;
    flex-direction: column;

}
    .link h3, .socials h3  {
        font-size: 18px;
    }

.links {
    margin-bottom: 1rem;
}
 .copy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link button {
    font-weight: var(--regular-font-weight);
}

.newsletter {
    margin-bottom: 5rem;
}

footer button:hover {
  color: #000000;
  border: none;
}
footer button:active {
    border: none;
    background-color: transparent;
    color: #fff;
}

.mail input {
    background-color: transparent;
    box-shadow: none;
    border: solid black;
    border-width: 0px 0px 1px 0px;
    width: 75vw;
    height: 2rem;
    margin-bottom: 1rem;
}

.useragreements {
    font-size: 13px;
    margin-bottom: 1rem;
}


.payments {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 2rem 0 1rem;
    width: 100%;
}

.payments img {
    max-height: 40px;
}

.payments h5 {
    margin: 0;
}

footer button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    font-weight: 200;
    color: #4f4f4f;
}


.underlinks {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
    background-color: #868b8e1f; /* light blue-ish distinct background */
    padding-left: 0.5rem;
    border-radius: 4px;

}
.underlinks.show {
    padding: 0.5rem;
    max-height: 300px; /* big enough for content */
}

@media (min-width: 768px) {

    footer {
        padding: 2rem 4rem 0;
    }
    .upper-foot, .links{
        flex-direction: row;
        justify-content: space-between;
    }

    .links {
        gap: 4rem;
    }

    .link {
        flex-direction: column;

    }
        .link-top {
        justify-content: flex-start;
        gap: 2rem;
    }

    .links button {
        display: none;
    }

    .mail input {
        width: 40vw;
    }

    .link h3, .socials h3  {
        font-size: 24px;
    }

    .newsletter h4 {
        margin-top: 0;
    }

    .copy {
        margin-bottom: 1rem;
    }

        .underlinks {
        max-height: none;
        overflow: visible;
        padding: 0;
        background: none;
    }

}