header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.5s ease, color 1s ease;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav img {
  width: 29px;
  height: 29px;
}

/* scroll -> byt färg */
header.scrolled {
  background-color: white;
  color: black;
}

header.scrolled img {
  filter: invert(1);
}

/* Menu section */

.menu-hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transition: right 0.3s ease;
  z-index: 12;
}

.menu.active {
  right: 0;
}

.menu .menu-close-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  align-self: flex-end;
}

/* Byt inte färg när man scrollar */
.menu .menu-close-btn img {
  filter: none;
  width: 1.375rem;
  height: 1.375rem;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-primary-list li {
  font-size: var(--h3-size);
  font-weight: 300;
  padding-bottom: 1rem;
}

.menu .menu-secondary-list {
  font-size: var(--h5-size);
  padding: 5rem 0;
}

.menu-language-wrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.menu-circle {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  background-color: var(--img-box);
}


header button:hover {
  border: none;
}

header button:active {
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu {
    right: -40rem;
    width: 40rem;
  }

  .menu .menu-close-btn img {
    width: 2.3125rem;
    height: 2.3125rem;
  }

  .menu-primary-list li {
    font-size: var(--h3-desktop);
    font-weight: 300;
    padding-bottom: 1.5rem;
  }

  .menu .menu-secondary-list {
    font-size: var(--h5-desktop);
    padding: 2rem 0;
  }
}



.top-banner {
    width: 100%;
    height: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.5rem 0;
    font-size: 18px;
    top: 0;
    left: 0;
    z-index: 2000;
}

.banner-track {
    display: inline-block;
    padding-right: 10%;
    animation: banner-scroll 16s linear infinite;
    font-size: 14px;
    letter-spacing: 1px;
}

@keyframes banner-scroll {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(-1%);
    }
}


@media (min-width: 768px) {
    .banner-track {
        font-size: 20px;
    }
}