/* === HERO === */
.hero {
    height: 46.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-color: var(--img-box);
}

.rotating {
    height: 363px;
    width: 207px;
    background-color: #888;
    margin-top: 60px;

}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    width: 100vw;
}

.hero h2 {
    margin: 0 0 1.25rem ;
}
.hero button {
    margin-top: 1rem;
    border: none;
    padding: 1rem 1.5rem;

}

h1 {
  font-weight: 500;

}