/* === HERO === */
.hero {
    height: 100vh;
    color: #000000;
    width: 100vw;
    min-width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
    background-image: url("../images/mobilbground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: -112px;
    margin-bottom: 3.25rem;
}

.hero-text {
    padding: 1rem;
    width: auto;
    margin: 5rem 0 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.hero-buttons {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero button {
    position: relative;
    overflow: hidden;
}

.hero h1,
.hero span {
    font-family: "Belleza", sans-serif;
    margin-bottom: 0;
}

.hero span {
    color: var(--solar);
}

.hero h3 {

    margin: 0.5rem 0 0 0.5rem;
}

@media (min-width: 768px) {

    .hero h1 {
        margin: 4rem 0 0;
    }

    .hero h3 {
        display: block;
        margin: 0 0 0 0.5rem;
    }

    .hero,
    .hero-text {
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        padding: 1rem 2rem 3rem 2rem;
    }

    .hero {
        background-image: url("../images/herobground.png");
    }

    .hero-text {
        margin: 0;
    }

    .hero-buttons {
        margin-left: 2.5rem;
        flex-direction: row;
    }

}
