/* === HERO === */
.hero {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.rotating {
    height: 363px;
    width: 207px;
    background-color: #888;
    margin-top: 60px;

}

.hero-text{
    display: flex;
    flex-direction: column;
    
}

.hero button {
    margin-top: 1rem;
    border: none;
    padding: 1rem 1.5rem;

}