/* === HERO === */
.hero {
    height: 54.5rem;
    color: #000000;
    width: 100vw;
    min-width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
    background-image: url("../images/bground.png");
    background-size: 450%;
    background-repeat: no-repeat;
    background-position: 55% 100%;
    margin-top: -88px;
}

.hero-text {
    padding: 1rem;
    width: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.hero-buttons {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero button {
    position: relative;
    overflow: hidden;
}

.hero h1,
.hero span {
    font-family: "Belleza", sans-serif;
}

.hero span {
    color: var(--solar);
}

.hero h3 {

    margin-left: 0.5rem;
}

@media (min-width: 768px) {

    .hero h1 {
        margin: 4rem 0 0;
    }

    .hero h3 {
        display: block;
        margin: 0 0 0 0.5rem;
    }

    .hero,
    .hero-text {
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        padding: 2rem;
        background-position-x: 20%;
        background-position-y: 80%;
        background-size: 170%;
    }

    .hero-buttons {
        margin-left: 2.5rem;
        flex-direction: row;
    }

}
