/* === HERO === */
.hero {
    height: 54.5rem;
    color: #fff;
    width: 100vw;
    min-width: 402px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 1rem;
    background-image: url("../images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -88px;
}

.hero-text {
    padding: 1rem;
    width: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.hero-buttons {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero button {
    position: relative;
    overflow: hidden;
}

.hero h1,
.hero span {
    font-family: "Belleza", sans-serif;
}

.hero span {
    color: var(--solar);
}

.hero h2 {
    display: block;
    font-weight: 300;
}

.hero h3 {
    display: none;
    margin-left: 0.5rem;
}

@media (min-width: 768px) {

    .hero h1 {
        margin: 4rem 0;
    }

    .hero h2 {
        margin: 0 0 1rem 0.5rem;
    }

    .hero h3 {
        display: block;
        width: 70%;
        font-size: 38px;
        font-weight: 200;
    }

    .hero,
    .hero-text {
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        padding: 2rem;
    }

    .hero-buttons {
        margin-left: 2rem;
    }
}
