.settings {
    width: 100vw;
    height: auto;
    margin-bottom: 4rem;
    gap: 1rem;
}

.settings, .right-setting, .left-setting, .setting-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-setting, .left-setting {

    width: 100%;
    height: 100%;
    min-height: 622px;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: flex-end;
    color: white;
    overflow: hidden;
}

.right-setting {
    background-image: url("../images/naturen.png");
    background-size: 120%;
    background-position: center;
}

.left-setting {
    background-image: url("../images/stan.png");
    background-size: 120%;
    background-position: top;  
}

.setting-content {
    gap:1rem;
    margin: 0 0 2rem 0;
    
}

.setting-content h4 {
    margin: 0 0 1rem 0;
}


@media (min-width: 768px) {
    .settings {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2rem;
        margin-bottom: 8rem;
    }

    .right-setting, .left-setting {
        /* height: 200px;
        aspect-ratio: 3/4; */
        height: 90vh;
        
    }

    .right-setting {
        background-position: center 20%;
    }
}