.settings, .setting-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-setting, .right-setting {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

