.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;

}

#kinformaVideo {
    object-position: center;

}

@media (min-width: 768px) {

.slogan {
    height: 275px;
    margin: 1.125rem 0 2rem;
}

}
