.slogan{
    height: 410px;

}
.slogan-background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    object-position: center;
    position: relative;
}
.slogan-background img {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100px;

}
.slogan-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}
@media (min-width: 768px) {

.slogan {
    height: 709px;
}
.slogan-background img {
      top: 45%;
      height: 254px;
}

}
