/* root */
* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: var(--regular-font-weight);

  /* colors */
  --background-color: #ffffff;
  --img-box: #d9d9d9;
  --font-color: #000000;
  --explore-button: #dcdcdc;
  --collection-background: #aeaeae;
  --circle-background: #949494;

  /* font sizes */
  --h1-size: 64px;
  --h2-size: 28px;
  --h3-size: 20px;
  --p-size: 16px;
  --button-size: 14px;

  /* font weight */
  --regular-font-weight: 400;
}

.belleza-regular {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--background-color);
  min-width: 400px;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

p {
  font-size: var(--p-size);
}