/* root */
* {
  box-sizing: border-box;
  font-family: ibm plex sans, sans-serif;
}

body {
    background-color: #d9d9d9;
    line-height: 1.5;
    min-width: 400px;
    padding: 0;
    margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

/* === HERO === */
.hero {
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.rotating {
    height: 363px;
    width: 207px;
    background-color: #888;
    margin-top: 60px;

}

.hero-text{
    display: flex;
    flex-direction: column;
    
}

.hero button {
    margin-top: 1rem;
    border: none;
    padding: 1rem 1.5rem;

}



/* Tech */
.tech {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.tech-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1rem;
}

.tech-imgs {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.tech-img {
    background-color: #4c4c4c;
    width: 250px;
    height: 400px;
  

}

/* Epost */
.epost {
    background-color: #fafafa;
    text-align: center;
    padding: 3rem 1rem;
    margin: 0;
}
.epost-container {
    background-color: #d9d9d9;
}

.epost h2 {
    font-size: 2rem;
    padding: 2rem;
}

.epost h3 {
    font-weight: 400;
    color: #555;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

.epost-input {
    margin-top: 1.5rem;
    padding-bottom: 1rem;
}

.epost input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    margin-bottom: 0.8rem;
}
ul{
    padding: 0 5rem;
}

.epost button {
    display: block;
    margin: 0 auto;
    background: black;
    color: white;
    border: none;
    padding: 0.8rem 1.4rem;
    border-radius: 4px;
}

