/* root */
* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;

  /* colors */
  --background-color: #ffffff;
  --img-box: #d9d9d9;
  --font-color: #000000;
  --explore-button: #dcdcdc;
  --collection-background: #aeaeae;

  /* font sizes */
  --h1-size: 38px;
  --h2-size: 28px;
  --h3-size: 18px;
  --p-size: 16px;

  /* font weight */
  --regular-font-weight: 500;
}

body {
  background-color: var(--background-color);
  min-width: 400px;
  padding: 0;
  margin: 0;
  font-weight: var(--regular-font-weight);
}

main {
  display: flex;
  flex-direction: column;
}
