/* root */
* {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
    font-weight: var(--regular-font-weight);

  /* colors */
  --background-color: #ffffff;
  --img-box: #d9d9d9;
  --font-color: #000000;
  --explore-button: #dcdcdc;
  --collection-background: #aeaeae;
  --circle-background: #949494;
  --solar: #F90;
  --pine: #6B6C40;

  /* font sizes */

  /* mobile */
  --h1-size: 64px;
  --h2-size: 44px;
  --h3-size: 28px;
  --h4-size: 34px;
  --h5-size: 20px;
  --p-size: 16px;
  --button-size: 14px;

  /* desktop */
  --h1-desktop: 96px;
  --h2-desktop: 64px;
  --h3-desktop: 38px;
  --h4-desktop: 48px;
  --h5-desktop: 24px;
  --p-desktop: 24px;

  /* font weight */
  --regular-font-weight: 400;

  --belleza: "Belleza", sans-serif;
}

.belleza-regular {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--background-color);
  min-width: 400px;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

button {
  font-family: var(--belleza);
  color: var(--pine);
  border: 1px solid var(--pine);
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;        
  padding: 0.5rem 1rem;
  font-size: 16px;
}


/* mobile */
h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

p {
  font-size: var(--p-size);
}

@media (min-width: 768px) {

h1 {
  font-size: var(--h1-desktop);
}    
h2 {
  font-size: var(--h2-desktop);
}    
h3 {
  font-size: var(--h3-desktop);
}    
h4 {
  font-size: var(--h4-desktop);
}    
h5 {
  font-size: var(--h5-desktop);
}    
p {
  font-size: var(--p-desktop);
};
}