/* root */
* {
  box-sizing: border-box;
  font-family: ibm plex sans, sans-serif;
}

body {
    background-color: #d9d9d9;
    line-height: 1.5;
    min-width: 400px;
    padding: 0;
    margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

