.tech {
    background-image: url("../images/fabric.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    height: 402px;
  
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 70px 0 20px;
}

.tech-content {
    margin: 1rem;
    transition: margin 2s ease;
}

.tech-text {
    margin: 20 px 30px 20px;

}


.tech-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tech-buttons button {
    padding: 8px 17px;
    border-radius: 25px;
    border: none;
}

.algae-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: var(--h3-size);
}


@media (min-width: 768px) {

    .tech {
        max-height: 800px;
    }

    .tech-content {
        margin: 0 30px 40px;
    }
}