.tech {
    background-image: url("../images/fabric.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    max-height: 490px;
    color: rgb(255, 255, 255);
    min-height: 402px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 70px;
}

.tech-content {
    margin: 1rem;
}

.tech-text {
    margin: 20 px 30px 20px;

}


.tech-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tech-buttons button {
    padding: 8px 17px;
    border-radius: 25px;
    border: none;
}

.algae-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: var(--h3-size);
}

