.tech {

  height: 100vh;           
  background-color: black;
    height: 582px; 
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 70px 0 4rem;
    align-items: flex-end; 
    position: relative;
    z-index: 100;
    

}
.tech-background {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}


.tech-background video {
    position: absolute;
    top: 0;
    left: -100;
    width: 100%;
    height: 50%;
    object-fit: contain;
    z-index: -100;
    transform: scale(1.3);
    transform-origin: center;
}



.tech-content {
    margin: 1rem 1rem 3rem;
    transition: margin 2s ease;
    z-index: 1;
    height: 90%;
    display: flex;
    align-items: flex-end;

}

.tech-text {
    margin: 1rem;

}

.tech-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}

.tech button {
    padding: 8px 16px;
}


@media (min-width: 768px) {

    .tech {
        height: 800px;
        margin-bottom: 7.125rem;
    }

    .tech-content {
        margin: 0 3rem 7rem ;
    }

    .tech h2 {
        margin-bottom: 1rem;
    }

    .tech h5 {
        width: 90%;
        margin: 0 0 2rem 0;
        max-width: 666px;
    }

    .tech-background video {
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
    transform: scale(1);
}


}