.tech {
    background-image: url("../images/fabric.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    height: 582px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 70px 0 20px;
}

.tech-content {
    margin: 1rem 1rem 3rem;
    transition: margin 2s ease;

}

.tech-text {
    margin: 1rem;

}

.tech-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}

.tech button {
    padding: 8px 16px;
}


@media (min-width: 768px) {

    .tech {
        height: 800px;
    }

    .tech-content {
        margin: 0 3rem 7rem ;
    }

    .tech h2 {
        margin-bottom: 0;
    }

    .tech h3 {
        width: 90%;
        margin: 0 0 2rem 0;
    }

}