.tech {
    background-image: url("../images/fabric.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    height: 402px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 70px 0 20px;
}

.tech-content {
    margin: 1rem;
    transition: margin 2s ease;

}

.tech-text {
    margin: 20px 30px 20px;

}

.tech-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.tech button {
    padding:12px 24px;
    border-radius: 10px;
    border: none;
    margin-top: 2rem;
}

.tech h2 {
    font-size: 30px;
    font-weight: 300;
}

.tech h3 {
    font-size: var(--h3-size);
    font-weight: 300;
}


@media (min-width: 768px) {

    .tech {
        height: 800px;
    }

    .tech-content {
        margin: 0 3rem 8rem ;
    }

    .tech h2 {
        font-size: 64px;
    }

    .tech h3 {
        font-size: 38px;
        width: 90%;
        margin: 0;
    }
    .tech-content {
        height: 40%;
    }
}