.values {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("../images/values-bground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;  
    height: 886px;
    min-width: 402px;

    
}

.value {
    width: 360px;
    flex-direction: column;
    display: flex;
    align-items: start;
    margin-left: 10px ;
}

 .value-text {
    margin: 4rem 20px;;
    line-height: 1.5;
    transition: line-height 2s ease;
}
 .value-text p {
    margin: 1.5rem 0 0 0;
 }
 .value-text h4 {
    margin: 0;
 }

.value-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin-bottom: 3rem;

}

.value-info img {
    height: 45px;
}

.sticker {
    color: #fff;
  padding: 1rem;
  background: rgba(78, 92, 114, 0.28);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 50px;
  border: 1px solid #fff;
  box-shadow: 
  0 8px 32px rgba(93, 93, 93, 0.1),
  inset 0 1px 0 rgba(255, 255, 255, 0.5),
  inset 0 -1px 0 rgba(149, 149, 149, 0.1),
  inset 0 0 18px 9px rgba(156, 156, 156, 0.328);
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {

    .values {
        background-position:center; 
        height: 100%;

    }
    .value {
        width: 35vw;
    }

    .value-text {
        line-height: 2;
        
    }

}