.values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/bground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65%;
    height: 874px;
    min-width: 402px;

}

.value {
    width: 360px;
    flex-direction: column;
    display: flex;
    margin: 2rem 2rem 0;
    justify-content: space-between;
    height: 100%;  
}

 .value-text {
    margin: 2rem 0;
    transition: line-height 2s ease;


}
 .value-text p {
    margin: 2rem 0 0 0;
    line-height: 22px;
 }
 .value-text h4 {
    margin: 0;
 }

.value-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    margin-top: auto; 

}

.sticker img {
    height: 33px;
    width: 33px;
}
.sticker span {
    font-size: 24px;
}


.sticker {
    color: #fff;
    padding: 0.689rem 1.378rem;
    background: rgba(129, 165, 224, 0.318);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 50px;
    border: 0.689px solid #fff;
    box-shadow: 
    0 8px 32px rgba(255, 234, 234, 0.1),
    inset 0 1px 0 rgba(167, 173, 182, 0.289),
    inset 0 -1px 0 rgba(170, 176, 180, 0.139),
    inset 0 0 18px 9px rgba(255, 255, 255, 0.127);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 0.689rem;
    align-items: center;

}

.left-sticker{
    padding: 0.689rem;
    border-radius: 55.09px;
}

    .right-sticker {
        border-radius: 16.527px;
    }

@media (min-width: 768px) {

    .values {
        align-items: flex-end;
        background-size: 195%;
        background-repeat: no-repeat;
        background-position: 100% 90%;  
        
    }
    .value {
        height: 100%;
        width: 40vw;
        margin-right: 4rem;
    }

    .value-info {
        justify-content: flex-start;
    }

    .value-text {
        margin-top: 3rem;
    }
    .sticker img {
        filter: invert(1);
    }
    .sticker {
        color: #000000;
        border: 0.689px solid #000000;
        background-color: transparent;
        box-shadow: 
        0 8px 32px rgba(130, 133, 139, 0.1),
        inset 9px 16px 20px rgba(180, 185, 191, 0.289),
        inset 0 -1px 0 rgba(170, 176, 180, 0.139),
        inset 0 0 18px 9px rgba(255, 255, 255, 0.346);
        
    }

     .value-text p {
        line-height: normal;
    }

}