.values {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url("../images/values-bground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% center;  
    height: 886px;
    min-width: 402px;

    
}

.value {
    width: 360px;
    flex-direction: column;
    display: flex;
    align-items: start;
    margin-left: 10px ;
}

 .value-text {
    margin: 120px 20px;;
    line-height: 1.5;
    transition: line-height 2s ease;
}

.value-info {
    display: flex;
    position: absolute;
    bottom: 25px;
    left: 30px;
    flex-direction: column;
    align-items: start;

    gap: 10px;
}

.value-info img {
    height: 45px;
}

@media (min-width: 768px) {

    .value-text {
        line-height: 2;
        
    }
}