.values {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url("../images/values-bground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% center;  
    height: 886px;
    
}

.value {
    width: 360px;
    flex-direction: column;
    display: flex;
    align-items: start;
}

 .value-text {
    margin: 120px 20px;;
}

.value-info {
    display: flex;
    position: absolute;
    bottom: 25px;
    left: 20px;
    flex-direction: column;
    align-items: start;

    gap: 10px;
}

.value-info img {
    height: 45px;
}